@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic&subset=latin,latin-ext);

html {min-height: 100%; position: relative;}
body {background-color: #ecf0f1; font-size: 16px; min-height: 100%;}
a {outline: none;}
.nav-tabs {margin-bottom: 15px;}
.checkbox label {line-height: 20px;}
.radio label {line-height: 20px;}
.image-thumbs {margin-bottom: 50px;}


#login {margin-top: 50px;}
#login i {width: 14px;}
#squadThree{    height: 20px;
    width: 20px;}
#header {height: 60px; margin: 0; width: 100%; z-index: 1030; position: fixed;}
#header .header-brand {float: left; height: 60px; background-color: #0089B6; width: 220px;}
#header .header-brand img {width: 50%}
#header .header-brand .brand-text {display: block; height: 60px; line-height: 60px; padding: 0 15px; text-align: center; width: 100%; color: #fff; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.3); font-size: 24px; text-decoration: none;}
#header .header-toolbar {background-color: rgba(255, 255, 255, 0.95); border-bottom: 1px solid #e3e9eb; height: 61px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08); margin-left: 220px;}
#header .navigation {float: right; margin: 0 15px;}
#header .navigation .nav > li {float: left;}
#header .navigation .nav > li > a {height: 60px; padding: 0 15px; line-height: 60px; cursor: pointer; background-color: transparent; color: #999;}
#header .navigation .nav > li > a:hover {color: #00b6ad;}
#header .navigation .nav > li > a > i {font-size: 18px;}
#header .navigation .nav > li.open > a {background-color: #f5f5f5; color: #00b6ad;}
#header .navigation .dropdown-menu {font-size: 12px;}
#header .navigation .dropdown-menu:before {border-color: transparent transparent rgba(0,0,0,0.15); border-style: solid; border-width: 9px; bottom: 100%; content: " "; height: 0; right: 14px; position: absolute; width: 0;}
#header .navigation .dropdown-menu:after {border-color: transparent transparent #fff; border-style: solid; border-width: 8px; bottom: 100%; content: " "; height: 0; right: 15px; position: absolute; width: 0;}
#header .navigation .dropdown-menu i {width: 15px;}
#header .navigation .profile img {width: 35px; vertical-align: middle; box-shadow: 0 2px 0 0 rgba(0,0,0,0.2); margin-right: 5px;}

#sidebar {background-color: #2a2a2a; color: #777; position: fixed; top: 0; left: 0; z-index: 200; width: 220px; min-height: 100%; padding-top: 60px;}
#sidebar .sidemenu {padding-top: 10px;}
#sidebar .sidemenu ul {margin: 0; padding: 0; list-style: none;}
#sidebar .sidemenu ul a {text-decoration: none;}
#sidebar .sidemenu ul a:hover {color: #c3c3c3;}
#sidebar .sidemenu > ul > li > a {display: block; padding: 10px 10px 10px 20px; color: #909090; cursor: pointer; font-weight: 600;}
#sidebar .sidemenu > ul > li > a > i {margin-right: 10px; width: 18px; font-size: 16px; float: left; margin-top: 1px; text-align: center;}
#sidebar .sidemenu > ul > li > a:hover > i {color: #0089B6;}
#sidebar .sidemenu > ul > li > a > span {float: right; margin-top: 10px; color: #444;}
#sidebar .sidemenu > ul > li:after {border-top: 1px solid #2f2f2f; content: ""; left: 48px; position: absolute; right: 0;}
#sidebar .sidemenu > ul > li > ul {display: none; background-color: #202020; padding-left: 48px; overflow: hidden; position: relative;}
#sidebar .sidemenu > ul > li > ul:after {border-left: 1px solid #2f2f2f; bottom: 0; content: ""; left: 28px; position: absolute;top: 0;}
#sidebar .sidemenu > ul > li > ul > li {position: relative; width: 100%;}
#sidebar .sidemenu > ul > li > ul > li:after {background-color: #2f2f2f; content: ""; position: absolute; border-radius: 50%; box-shadow: 0 0 0 2px #202020; height: 8px; width: 8px; left: -24px; top: 14px; z-index: 1;}
#sidebar .sidemenu > ul > li > ul > li:hover:after {background-color: #00b6ad;}
#sidebar .sidemenu > ul > li > ul > li > a {color: #777; display: block;  padding: 8px 0;}

#main {padding: 80px 0 0 220px;}

.panel .panel-heading {font-size: 14px; font-weight: 600;}
.panel .panel-heading i {margin-right: 10px;}
.panel .panel-toolbar {background-color: #fbfbfb; padding: 14px; border-bottom: 1px solid #ddd;}
.panel .table thead {color: #5e5e5e; background-color: #f9f9f9;}
.panel .table thead tr:first-child {border-bottom: 2px solid #ddd;}
.panel .panel-footer .pagination {margin: 5px 0;}

.breadcrumb {background-color: transparent; padding: 0;}
.breadcrumb a {color: #00b6ad; text-decoration: none;}


.app {margin-bottom: 20px; display: block; height: 82px;}
.app.app-info .app-icon {background-color: #63d3e9; border-bottom: 3px solid #47bfd6;}
.app.app-success .app-icon {background-color: #91c854; border-bottom: 3px solid #7bb13e;}
.app .app-icon {width: 35%; float: left; border-radius: 4px 0 0 4px; height: 100%; text-align: center;}
.app .app-icon i {font-size: 38px; margin: 20px 0; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);}
.app .app-body {width: 65%; float: right; background-color: #fff; border: 1px solid #ddd; border-bottom-width: 3px; border-left: none; border-radius: 0 4px 4px 0; height: 100%; position: relative;}
.app .app-body .label {position: absolute; top: -5px; right: -5px;}
.app .app-body .app-title {padding: 10px; display: table-cell; vertical-align: middle; height: 82px; width: 151px; color: #333;}
.app .app-body .app-title span {display: block; font-weight: 600; font-size: 16px;}

.app-full {margin-bottom: 20px; display: block; height: 82px; border-radius: 4px;}
.app-full.app-info {background-color: #63d3e9; border-bottom: 3px solid #47bfd6;}
.app-full.app-success {background-color: #91c854; border-bottom: 3px solid #7bb13e;}
.app-full .app-icon {width: 30%; float: left; text-align: center; height: 100%;}
.app-full .app-icon i {font-size: 42px; margin: 20px; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);}
.app-full .app-body {width: 70%; float: right; height: 100%; position: relative;}
.app-full .app-body .label {position: absolute; top: -5px; right: -5px;}
.app-full .app-body .app-title {padding: 10px; display: table-cell; vertical-align: middle; height: 82px; width: 151px; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);}
.app-full .app-body .app-title span {display: block; font-weight: 600; font-size: 16px;}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

#p1brk1fb625nv11kblgsv0l18e33 > div.col-xs-6 {
    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
}