#main > div > div.rightSide.col-sm-9 > div > div.estate-insert.box-body > form > div.row{margin: 0;}
#main > div > div.col-sm-3.leftSide > div > div.col-sm-12.leftSideCol.portfoy-col > h4{letter-spacing: 1.5px;}
#main > div > div.col-sm-3.leftSide > div > div.col-sm-12.leftSideCol.lsTB > div.lsB.clearfix > h4{letter-spacing: 1.5px;     background: #d0a84e;}
#main > div > div.col-sm-3.leftSide > div > div.col-sm-12.leftSideCol.paddingBottom15.bgDark > h4{letter-spacing: 1px;}
.leftSideCol > h5 {color:#777}

#main > div > div.col-sm-9.rightSide > div > div > div > div > div.col-sm-8.posRel > a > h4{padding-left: 10px;padding-bottom: 4px;padding-right: 4px; background-color: #003362 !important; font-size: 20px;}}

.product:hover .satilik{color:#d0a84e;}
.product:hover .kiralik {color: #d0a84e;}
.productLink {color: white;}
div.col-sm-8.posRel > h4 > span{  color:#2554af;}


#main > div > div.col-sm-9.rightSide > div > div > div > div > div.col-sm-8.posRel > h5.productLoca.colorGrey{color:black; font-size: 20px;}
#main > div > div.col-sm-9.rightSide > div > div > div > div > div.col-sm-8.posRel > h5.productDetail.colorGrey{color:black; font-size: 20px;}
div > div > div > div.col-sm-8.posRel > h4 {color:black;}
/*#main > div > div.rightSide.col-sm-9 > div {padding:20px;}*/
#left {
	
	width: 285px;
	
}
.lsTB { padding: 0px; }
.lsTB .lsT { padding: 15px 15px 0px 15px; background-color: #2554af !important; !important; border-top-right-radius:25px;border-top-left-radius:25px; }
.lsTB .lsB {    padding: 15px 15px 0px 15px;    border-radius: 0px;    border-bottom-left-radius: 25px;    background-color: #2554af !important; !important;    border-bottom-right-radius: 25px; }
.lsTB .lsT input { background-color: #86827F !important; border-color: #383534 !important; }
.lsTB .lsT button { background-color: #000; }
.lsTB .lsT button i { color: #fff; font-size: 16px; }
.box-main { min-height: 241px;
	background-color: rgb(255, 255, 255);}
.box-main .boxName h5 { color: #171717; margin-bottom: 10px; }
.box-main .boxLoca h6 { color: #171717; }
.box-main { box-shadow: 0px 0px 2px rgba(23, 23, 23, 0.5)}
.box-main .boxBack .ilan-fiyat {font-size: 10px; position: absolute; top: 10px; right: 10px; padding: 5px 10px; background-color: #171717; color: #e4e4e4; font-weight: 700; }
.portfoy-col {     background-color: #196aad !important;color: white !important; !important;border-radius: 2px !important; }
.portfoy-col a { color: #fff; }
.map{z-index: 20;}