@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

body {

    /*font-family: 'Oswald', sans-serif; */

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px!important;
	color:black!important;

    background: #fff url(../img/background.jpg) center top fixed;

}
.mobil35{margin-top: 6px;
    font-size: 40px;
    color: #002446;
    font-weight: bold;}

.top-contact {
    font-size: 12px;

    text-align: center;
    color: #5a5a5a;
    text-align: right;
}
a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: 0;

    color: #535353;
}
..fastSearch .form-control{color:black!important;}
.form-control{    font-size: 16px!important;    color: black!important;}
h1, h2, h3, h4, h5, h6 {
color:black;
/ / background-color: #D2D7D3;

}

.btn {
    border: none;
}

.buttons:before, .buttons:after {
    content: '';
    display: table;
}

.buttons {
    text-align: right;
    margin: 20px 0;
}

.share-box:before, .share-box:after {
    content: " ";
    display: table;
}

.share-box {
    border-top: 1px dotted #CCC;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.share-box p {
    margin-bottom: 5px;
}

.share-box > a {
    text-indent: -9999px;
    display: inline-block;
    margin-right: 5px;
}

.share-box > a.facebook {
    background: url(../img/share-facebook.png) no-repeat;
    width: 88px;
    height: 25px;
}

.share-box > a.twitter {
    background: url(../img/share-twitter.png) no-repeat;
    width: 79px;
    height: 25px;
}

.share-box > a.google {
    background: url(../img/share-google.png) no-repeat;
    width: 67px;
    height: 25px;
}

.print-box {

    border-top: 1px dotted #CCC;

    padding-top: 15px;

    margin-top: 15px;

    margin-bottom: 0px;

}

.brack {

    background-color: #F27B27;
    border-color: #F27B27;

    color: white;

}

.brack::-webkit-input-placeholder {

    color: #FFF;

}

.brack:-moz-placeholder { /* Firefox 18- */

    color: #FFF;

}

.brack::-moz-placeholder { /* Firefox 19+ */

    color: #FFF;

}

.brack:-ms-input-placeholder {

    color: #FFF;

}

.nazarTextYellow {
    color: #E87E04;
}

.nazarTextYellow a {
    color: #E87E04;
}

.nazarBackYellow {
    background-color: #E87E04;
}

.nazarTextBlue {
    color: #0000FE;
}

.nazarTextBlue a {
    color: #0000FE;
}

.nazarBackBlue {
    background-color: #0000FE;
}

.font300 {
    font-weight: 300;
}

.font700 {
    font-weight: 700;

    background-color: transparent !important;
}

.colorGrey {
    color: #717171;

    background-color: transparent !important;
}

.colorBlack {
    color: black !important;
}

.marginTop15 {
    margin-top: 15px;
}

.marginBottom15 {
    margin-bottom: 15px;
}

.paddingTop15 {
    padding-top: 15px;
}

.paddingBottom15 {
    padding-bottom: 15px;
}

.searchBtn {

    border: none;

    border-bottom: 3px solid #0000FE;

    padding: 5px 31px;

    background-color: #DADFE1;

    font-weight: 700;

    font-size: 15px;

}

.posRel {

    position: relative;

    z-index: 2;

}

.posRel h4 {

    background-color: transparent !important;

}

/* Margin *************************************************/

.margin-top-05 {
    margin-top: 0.5em;
}

.margin-top-10 {
    margin-top: 1.0em;
}

.margin-top-15 {
    margin-top: 1.5em;
}

.margin-top-20 {
    margin-top: 2.0em;
}

.margin-top-25 {
    margin-top: 2.5em;
}

.margin-top-30 {
    margin-top: 3.0em;
}

.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-bottom-10 {
    margin-bottom: 1.0em;
}

.margin-bottom-15 {
    margin-bottom: 1.5em;
}

.margin-bottom-20 {
    margin-bottom: 2.0em;
}

.margin-bottom-25 {
    margin-bottom: 2.5em;
}

.margin-bottom-30 {
    margin-bottom: 3.0em;
}

/***********************************************************************/

/* Padding *************************************************/

.padding-top-05 {
    padding-top: 0.5em;
}

.padding-top-10 {
    padding-top: 1.0em;
}

.padding-top-15 {
    padding-top: 1.5em;
}

.padding-top-20 {
    padding-top: 2.0em;
}

.padding-top-25 {
    padding-top: 2.5em;
}

.padding-top-30 {
    padding-top: 3.0em;
}

.padding-bottom-05 {
    padding-bottom: 0.5em;
}

.padding-bottom-10 {
    padding-bottom: 1.0em;
}

.padding-bottom-15 {
    padding-bottom: 1.5em;
}

.padding-bottom-20 {
    padding-bottom: 2.0em;
}

.padding-bottom-25 {
    padding-bottom: 2.5em;
}

.padding-bottom-30 {
    padding-bottom: 3.0em;
}

/***********************************************************************/

.box,
.topSocial i,
input.form-control,
.navbar-default .navbar-nav > li > a,
.box .boxName:after,
.box:hover .boxName:after {

    -webkit-transition: All 0.5s ease;

    -moz-transition: All 0.5s ease;

    -ms-transition: All 0.5s ease;

    -o-transition: All 0.5s ease;

    transition: All 0.5s ease;

}

.contact {

}

.contact h2,
.contact h5 {

    margin: 5px 0px;

}

.contact h2 {

    color: #FFFFFF;

    font-weight: 700;

    font-size: 22px;

    line-height: 50px;

    margin: 0;

    display: inline-block;

}

.contact h2 small {

    color: #FFFFFF;

    font-size: 18px;

}

.contact .tit {

    display: inline-block;

    color: #FFFFFF;

    line-height: 35px;

}

.contact h5 {

    color: #A5A4A4;

}

.topCol {

    /* background-image: url(../img/contactTop.png); */

    background-position: right;

    background-repeat: no-repeat;

    background-size: 120px 120px;

    padding: 8px 0px 5px 0px;

}

.navbar-brand {
    padding: 0px;
    display: block;
    height: 60px;
/ / margin-top: - 15 px;

}

.navbar-brand img {
    height: 165%;
    margin-top: -17px;
}
#tops {

    background: #0000FE;

}

.top-bar {

    min-height: 24px;

    background-color: #F27B27;

}

.logo img {

    margin-top: 9px;

}

.topSocial {

/ / padding-top: 5 px;

/ / padding-bottom: 5 px;

}

.topSocial i {

    width: 40px;

    height: 40px;

    color: black;

    font-size: 26px;

    line-height: 40px;

    text-align: center;

    margin-left: 5px;

    background-color: white;

}

.topSocial a:hover i {

    color: white;

    background-color: black;

}

.navbar {
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;

}

.navbar-nav {

}

.navbar-nav > li > a {

    box-sizing: border-box;

}

.navbar-toggle {
    border: 1px solid white;
    border-radius: 0px;

}

.navbar-default {

    background-color: transparent;

    padding: 10px 0px;

}

.navBack {

    width: 100%;

    position: relative;

    background-color: #454545;

}

.nav > li > a {

    padding: 10px 20px;
    font-size: 15px;

    font-weight: 700;

}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {

    color: #e4e4e4;
    /* border: 1px solid #ccc; */
    background-color: #196aad;
    font-weight: 700;
    border-radius: 2px;

}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #fff;
    /* border: 1px solid #ccc; */
    background-color: #196aad;
    font-weight: 700;
    border-radius: 2px;
}
.navbar .navbar-nav > li > a {
 padding-top: 15px;
    padding-bottom: 15px;

    color: #171717;

}

.navbar-nav > li > a {

/ / border-top: 3 px solid transparent;

    padding-top: 10px;

    padding-bottom: 10px;

    color: #171717;


}

.slider {

    background-color: white;

    padding: 15px 15px;

}

.sliderImage {

    width: 100%;

    height: 374px;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -ms-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

.fastSearch {

    background-color: transparent;

    padding: 15px 15px 18px 15px;

}

.fastSearch .form-control {

    padding: 5px 12px;

    font-size: 13px;

}

.moduleLinkBlue {

    font-weight: 700;
	font-size: 21px;
    margin: 0px;

    margin-bottom: 15px;

    padding: 10px;

    color: white;

}

.moduleLinkYellow {

    font-weight: 700;

    border-right: 10px solid #D35400;

    background-color: #E87E04;

    margin: 0px;

    margin-bottom: 15px;

    padding: 10px;

    color: white;

}

.form-control {

    border-radius: 0px;

}

.btn {

    border-radius: 0px;

}

.btn-Search {

    background-color:#171717;

    -webkit-transition: all 0.4s;

    -moz-transition: all 0.4s;

    -ms-transition: all 0.4s;

    -o-transition: all 0.4s;

    transition: all 0.4s;

    border-radius: 20px;

    color: #FFFFFF;

    font-weight: 700;

}

.btn-Search:hover,
.btn-Search:focus {

    background-color:#b88d37;
}
#tops > nav > div > div.navbar-header > a > img{    margin-left: 50px;     }

.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {

    color: white;

    background-color: #0000FE;

}

.formMargin {
    height: 35px;
    padding: 5px 19px 5px 19px;
    background: #005da9;
    font-size: 14px;
    border: 2px solid white;
    border-radius: 2px;
    transition: 0.2s;
}
.formMargin:hover, .formMargin:focus  {
    background: white;
    border: 2px solid #005da9;
    color: #005da9;
    transition: 0.2s;
}

.leftSide {

}

.leftSideCol {

    margin-top: 15px;
	font-size: 20px;
    padding-top: 15px;
	padding:0px !important;
    background-color: white;

}

.leftSideCol > h5 {
    color: #d7dce1 !important;
    margin: 0px;
    font-size: 22px;
    padding: 5px;
    font-weight: 900;
    background-color: #171717;
}

.leftSideCol ul {

    padding: 6px;

    margin: 0px;

    list-style-type: none;

}

.leftSideCol ul li {

    padding: 2px 0px;

}

.rightSide {

    padding-left: 0px;

    margin-top: 15px;

}

.rightSideBack {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

.box {

/ / padding: 8 px;

    margin-bottom: 15px;

    min-height: 300px;

/ / border: 3 px solid white;

    background-color: white;

}

.box:hover.satilik {

    border-color: #BDE0E9;
    box-shadow: 0px 0px 6px rgb(0, 81, 137);

}

.box:hover.kiralik {

    border-color: #F2E390;

    box-shadow: 0px 0px 3px rgb(232, 126, 4);

}

.boxBack {

    height: 170px;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -ms-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

.boxName {

    position: relative;

}

.boxName h5 {

    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;

    width: 100%;

    color: black;

    position: relative;

    font-weight: 700;

    margin-bottom: 30px;

    background-color: transparent !important;

    padding: 0px 8px;

}

.boxName:after {

    content: '';

    position: absolute;

    background-color: #fff;

    width: 50px;

    height: 3px;

    bottom: -15px;

    left: 8px;

}

.box:hover .boxName:after {

    width: calc(100% - 8px);

}

.boxPrice h5 {

    color: #C2C2C2;

    font-weight: 700;

    background-color: transparent !important;

    padding: 0px 8px;

}

.boxPrice
.boxLoca h5 {

    color: #C2C2C2;

    margin-top: 20px;

    margin-bottom: 0px;

}

.box.satilik .boxPrice span {

    color: #0000FE;

}

.box.kiralik .boxPrice span {

    color: #E87E04;

}

.boxLoca h6 {

    font-weight: 600;

    margin-top: 20px;

    margin-bottom: 0px;

    background-color: transparent !important;

    padding: 0px 8px;

}

.acilSatilik .box {

    padding: 0px;

    padding-bottom: 15px;

    margin-bottom: 0px;

    border: none;

    box-shadow: none !important;

}

.destekHatti {

    height: 105px;

    background-image: url(../img/destekHatti.jpg);

    background-size: 105px;

    background-repeat: no-repeat;

    background-position: left;

}

.destekHatti h4 {

    font-weight: 700;

}

.destekHatti h6 {

    color: #C2C2C2;

}

.e-bulten {

    padding-bottom: 15px;

}

.e-bulten h4 {

    text-align: center;

    font-weight: 700;

    margin-top: 0;

    font-size: 15px;

}

.searchForm {

    position: absolute;

    right: 0px;

}

.searchButton {

    position: absolute;

    right: 0px;

    z-index: 2;

}

.searchButton i {

    background-color: #313131;

    color: white;

    padding: 24px;

    height: 63px;

}

#searchInput {

    position: absolute;

    width: 0px;

    height: 63px;

    right: 0px;

    border: 0px;

    z-index: 1;

}

.searchOpen {

    right: 60px !important;

    width: 180px !important;

}

.sayfaBaslik {
    margin-top: 0px;
    color: white !important;
    background: #005189;
    padding: 10px 10px 10px 20px;
    border-radius: 2px;
    font-size: 30px;
    box-shadow: 0px 0px 8px #00518963;
}


.colDivider {

    margin: 30px 0px;

}

.colDivider:before {

    content: '';

    position: absolute;

    width: 80%;

    height: 4px;

    top: -2px;

    left: 50%;

    background-color: #F0F0F0;

    -webkit-transform: translate(-50%);

    -moz-transform: translate(-50%);

    -ms-transform: translate(-50%);

    -o-transform: translate(-50%);

    transform: translate(-50%);

}

.product {

    margin-bottom: 3%;

}

.product:hover .satilik {

    color: #d0a84e;;

}

.product:hover .kiralik {

    color: #E87E04;

}

.moduleLinkYellow a {

    color: white;

    -webkit-transition: all 0.3s;

    -moz-transition: all 0.3s;

    -ms-transition: all 0.3s;

    -o-transition: all 0.3s;

    transition: all 0.3s;

}

.moduleLinkYellow a:hover {

    color: #424242;

}

.productImage {

    width: 100%;

    height: 150px;

    border: 2px solid #CCC;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -ms-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}

.productLoca {

    background-color: transparent !important;

}

.productLink {

    position: relative;

    padding: 10px 0px;

    margin-top: 0px;

    margin-bottom: 15px;

    font-weight: 700;

    color: black;

}

.productLink:after {

    content: '';

    position: absolute;

    left: 0px;

    bottom: -5px;

    width: 60px;

    height: 5px;

    background-color: #F0F0F0;

}

.productPrice {

    font-weight: 700;

    background-color: transparent !important;

}

.productPrice span.satilik {

    color: #0000FE;

    background-color: transparent !important;

}

.productPrice span.kiralik {

    color: #E87E04;

    background-color: transparent !important;

}

.productDetail span {

    margin-right: 20px;

}

.productDetail {

    background-color: transparent !important;

}

.productLi {

    position: relative;

    font-size: 18px;

    font-weight: 700;

    color: #CCC;

    margin-right: 15px;

}

.productLi:after {

    content: '';

    position: absolute;

    left: 0px;

    bottom: -10px;

    width: 60px;

    height: 5px;

    background-color: #F0F0F0;

}

.rightSideBack .product:nth-child(2n):after {

    content: '';

    position: absolute;

    width: 99%;

    height: 110%;

    left: 50%;

    top: -5%;

    z-index: 0;

    background-color: #F4F4F4;

    -webkit-transform: translateX(-50%);

    -moz-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    -o-transform: translateX(-50%);

    transform: translateX(-50%);

}

#keyFilter input{
	background: #c1e3fc;
	color: #000;
}
#keyFilter button{
	background: #000;
	color: #fff;
}

.rightSideBack .product:before {

    content: '';

    position: absolute;

    width: 80%;

    height: 3px;

    left: 50%;

    bottom: -10%;

    z-index: 0;

    background-color: #F4F4F4;

    -webkit-transform: translateX(-50%);

    -moz-transform: translateX(-50%);

    -ms-transform: translateX(-50%);

    -o-transform: translateX(-50%);

    transform: translateX(-50%);

}

.rightSideBack .product:last-child:before {

    background-color: transparent;

}

.rightSideBack .product:last-child {

    margin-bottom: 0px;

}

.rightSideBack .colDividerProduct:last-child {

    display: none;

}

.bxsliderBig {

    cursor: pointer;

    padding: 0px;

}

.bxsliderBig,
.bxItemThumb {

    width: 100%;

    height: 85px;

    margin-bottom: 10px;

    background-size: cover;

    background-position: center center;

    background-repeat: no-repeat;

}

.bxItemBig {

    height: 400px;

    background-size: contain;

    background-position: center center;

    background-repeat: no-repeat;

}

#bxsliderThumb-next a,
#bxsliderThumb-prev a {

}

#bxsliderThumb-next i,
#bxsliderThumb-prev i {

    color: white;

    background-color: #0000FE;

    padding: 10px 15px;

}

.bx-wrapper {

    margin-bottom: 0px !important;

}

.bx-wrapper .bx-viewport {

    left: 0px;

}

.bx-wrapper .bx-controls-direction a {

    z-index: 5 !important;

}

.nav-tabs > li > a {

    border-radius: 0px;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {

    color: black;

    border: 0px;

    border-bottom: 3px solid #CCC;

}

#main .checkbox {

    height: 50px;

}

.tabOzellikler {

    padding-bottom: 3px;

    padding-top: 3px;

}

.tabOzellikler .fa-check-circle {

    color: #5CB85C;

    width: 20px;

}

.tabOzellikler.active {

    color: black;

}

.tabOzellikler.passive {

    display: none !important;

}

footer {

    margin-top: 40px;

    background-color: #171717;

    padding: 30px 0px;

    color: white;

}

footer .footerContact,
footer .footerContact a {

    color: #FFF;

}

.danisman-tel {
        color: #d0a84e;
    font-size: 22px;
}

.danisman-name {
    position: relative;
    padding-bottom: 10px;
	font-size: 19px;
}

.danisman-name:before {
    content: '';
    position: absolute;
    width: 190px;
    height: 2px;
    background-color: white;
    left: 30%;
    bottom: 0;
    margin-left: -50px;
}

.merkezofis {
    border: 2px solid white;
    border-radius: 20px;
	margin-bottom: 10px;
}

.thumb-reklam {

    margin: 0px 0;

}

.fiyatRenk {
    color: #F27B27;
    font-size: 16px;
}

.ilanListeSelect {
    border: none;
    background-color: #DADFE1;
    border-bottom: 3px solid #0000FE;
    height: 35px;
    box-shadow: none;
    font-weight: 700;
}

/* Responsive *********************************************/

/* XS */

@media (max-width: 767px) {
.mobil35{    font-size: 20px;}
    .contact {

        text-align: center;

    }
	.navbar-brand img {
        height: 129%;
        margin-top: -11px;
        margin-left: 0px !important;
}

    .topSocial {

        text-align: center;

    }

    .navbar-brand {
        height: 50px;
        padding: 2px 15px;

    }

    .navbar-collapse {

        padding: 0px;

    }

    .navbar-nav > li > a {

        border: none;

    }

    .navbar-default {

        padding: 5px 0px;

    }


    .navbar-default .navbar-nav > li > a:focus,
    .navbar-default .navbar-nav > li > a:hover {

        color: #0000FE;

        background-color: #FFF;

        border-top: none;

    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {

        background-color: transparent;

    }

    .navbar-default .navbar-toggle:focus .icon-bar,
    .navbar-default .navbar-toggle:hover .icon-bar {

        background-color: white;

    }

    .navbar-nav > li > a {

        padding: 10px 20px;

    }

    .navBack {

        background-color: white;

    }

    .rightSide {

        padding: 0px;

    }

    .topCol {

        background: none;

        padding: 5px 15px;

    }

    .contact h5 {

        font-size: 12px;

    }

    .contact h2 {

        font-size: 22px;

    }

    .topSocial i {

        width: 30px;

        height: 30px;

        font-size: 18px;

        line-height: 30px;

    }

    .footerContact {

        margin-top: 30px;

    }

    .navbar-toggle .icon-bar {
        background-color: black !important;
    }

    .navbar-nav {
        margin: 0px;
    }

}

.print-box a {
    margin-bottom: 5px;
}

/* SM */

@media (min-width: 768px) and (max-width: 991px) {

    .topCol {
        padding: 0px 15px 0px 15px
    }

    .nav > li > a {
        padding: 5px;
        font-size: 12px;
    }

    .navbar-brand {
        height: 50px;
    }

    .navbar-nav {
        margin-top: 10px;
        margin-right: 0px;
    }

}

/* MD */

@media (min-width: 992px) and (max-width: 1199px) {

    .dropdown:hover .dropdown-menu {

        display: block;

    }

    .navbar-nav {
        margin-top: 10px;
    }

    .nav > li > a {
        padding: 10px;
    }

}

/* LG */

@media (min-width: 1200px) {

    .dropdown:hover .dropdown-menu {

        display: block;

    }

}

.ls-active .text {

    background: #333;

    padding: 15px;

}

.ls-active .text a {

    color: #FFF;

    font-size: 18px;

    line-height: 24px;

}

.ls-active .text a strong {

    color: whitesmoke;

}

.badge {

    min-width: 28px;
    border-radius: 3px;
    background-color: #171717;
}

.bgDark {

    background-color: #003362;

    color: white;

}

.box:hover .boxName::after {
    width: calc(100% - 16px);
}

.bgDark .colorGrey {

    color: white;

}

.captionBlue {

    font-size: 21px;

    font-weight: 600;

    color: #FFF;

    margin-top: 0;

    background-color: #0000FE !important;

    border-right: 10px solid #0000A9;

    padding: 10px;

}

.captionOrange {

    font-size: 21px;

    font-weight: 600;

    color: #F27B27;

    background-color: transparent !important;

}

.btn-form {
    background-color: #F27B27;
    border-color: #F27B27;
    border-radius: 0;
    height: 34px;
}
.btn-form:hover {
    background-color: #D26E27;
}

#main  .rightSide .rightSideBack .btns{position: relative;z-index: 35;}
#main  .rightSide .rightSideBack .btns .print-box a{position: relative;z-index: 55; }

#main  .rightSide .rightSideBack .scl-btns{position: relative;z-index: 35;}
#main  .rightSide .rightSideBack .scl-btns .share-box a{position: relative;z-index: 55; }

.thmm-btn {
    background: #005189;
    width: 100%;
    border-radius: 1px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: 0.4s;
    border: 2px solid #005189;
}
.thmm-btn:hover{
    background: #417ca5 !important;
    color: #fff !important;
    border: 2px solid #005189 !important;
    border-radius: 2px !important;
    transition: 0.4s !important;
}
#kinds{
    background: #005189;
    width: 100%;
    border-radius: 1px;
    font-size: 16px !important;
    font-weight: bold;
    color: white !important;
    transition: 0.4s;
    border: 2px solid #005189;
    height: 38px;
}
#kinds:hover{
    background: #417ca5 !important;
    color: #fff !important;
    border: 2px solid #005189 !important;
    border-radius: 2px !important;
    transition: 0.4s !important;
}
